.button{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}
.App{
    text-align: center;
}
.App-header .row{
    text-align: center;
}
.inputArticle{
    height: 48px;
}